/*Début Body*/
body{
width: 98%;
}
body a{
text-decoration: none;
}
/*Fin Body
Début article*/
form {
display: inline-block;
}
#connexion{

position: absolute;
top: 50%;
left: 30%;
border: 3px solid black;
}
#inscription {
position: absolute;
top: 50%;
left: 30%;
border: 3px solid black;
}
/*Fin Article

